# Ignore Mac OS system files
.DS_Store

# Ignore Gradle folders
.gradle/
gradle/

# Ignore generated build files
app/build/
build/

# Ignore conf Android Studio
.idea/

# Ignore Gradle configuration files
gradle.properties
gradlew
gradlew.bat
local.properties